@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  /* right: 0; */
  
  transform: translateX(70%);
  transition: transform 0.15s;
  border-color: #68D391;
  /* transition: all 3s; */
  
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
  /* transition: all 3s; */
  transition: transform 0.3s;
}


.taskOpener {
  animation: spinClockwise 0.6s;
}

@keyframes spinClockwise {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

.taskOpener1 {
  animation: spinAntiClockwise 0.3s;
}

@keyframes spinAntiClockwise {
  from {
      transform:rotate(180deg);
  }
  to {
      transform:rotate(0deg);
  }
}

.taskInfo-enter {
  opacity: 0;
  transform: scale(0.9);
}
.taskInfo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}



